@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}
.top-menu-full{
    padding: 25px 0px;
    &m
}

.menu-area{}
.btn-sign-in{}
.btn-sign-up{}
.banner-area-full{}
.banner-area{}
.main-content-area-full{}
.company-logo-area{}